@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
     
}
html
{
    font-size: 62.5%;
}
/*navbar*/
.navbar
{
    width: 100%;
    height: 14rem;
    background-color: #000;
    top: -14rem;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 0.2rem #000;
    transition: top .4s;
}
.navbar.change{
    top: 0;
    transition: top .4s .2s;

}
.navbar-link
{
    color: #aaa;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: color .3s,opacity 0.2s;
    opacity: 0;
     
}
.change .navbar-link
{
     opacity: 1 ;
    
}
.change .navbar-link:nth-child(1){
transition: opacity .4s .5s; 
color: .3s;   
}
.change .navbar-link:nth-child(2){
  transition: opacity .4s .6s; 
  color: .3s;     
 }
 .change .navbar-link:nth-child(3){
  transition: opacity .4s .7s; 
  color: .3s;     
 }
 .change .navbar-link:nth-child(4){
    transition: opacity .4s .8s;
    color: .3s;      
 }
.change .navbar-link:nth-child(5){
   transition: opacity .4s .9s;  
   color: .3s;    
}


.navbar-link:hover
{
    color: white;
}
.navbar-link i{
    font-size: 5rem;
   
}
.navbar-link span
{
    font-size: 2.5rem;
    font-size: 900;
    letter-spacing: .5rem;
    margin: .5rem;
}
.menu
{
    width: 3rem;
    height: 5rem;
    background-color: black;
    position: fixed;
    top: 1rem;
    left: 5rem;
    z-index: 100;
    border-radius: 30rem 30rem 15rem 15rem;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.1rem #000,
    -0.1rem -0.1rem 0.1rem #000;
    transition: top .4s .2s;
}
.menu.change{
    top: 15rem;
    transition: top .4s;
}
.menu::before
{
    content: "";
    width: .3rem;
    height: 15rem;
    background-color: #000;
    position: absolute;
    top: -15rem;
    left: calc(50% - .15rem);
    box-shadow:  .1rem 0 .1rem black
}
/*section-1*/
.section-1
{
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section-heading
{
    font-size: 10rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0.3rem #000;
}
.section-1-icons i
{
    font-size: 25rem;
    color: #a79a2d;
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    text-shadow: 0.2rem 0.2rem 0.2rem #000;
}
.section-1-icons i.change
{
transform: translate(-50%,-50%)scale(1);
}

.section-2
{
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 0; 
}

.card-container
{
display: flex;
justify-content: space-evenly;

}

.card{
    width: 20rem;
    background: #a79a2d;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1rem 1rem 1rem #000;
    position: relative;
    transform: rotateY(20deg) skewX(-2deg);
    transition: transform .5s, box-shadow.5s;
}
.card:hover
{
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem) ;
    box-shadow: 2rem 2rem 2rem #000 ;
}
.card::before
{
content: "";
height: 100%;
width: 1rem;
background:#a79a2d;
position: absolute;
top: 0;
left: -1rem;
transform: skewY(45deg);
transform-origin: right;
box-shadow: -0.1rem -0.1rem -0.1rem #000;
}
.card::after
{
content: "";
height: 1rem;
width: 100%;
background:#8f8317;
position: absolute;
top: -1rem;
left: 0;
transform: skewX(45deg);
transform-origin: bottom;
box-shadow: -0.1rem -0.1rem -0.1rem #000;
}
.card-img
{
    width: 100%;
}

.card-name
{   font-size: 3rem;
    font-weight: 900;
    line-height: .5rem;
    text-transform: uppercase;
color: #111;
margin: 3rem 0;
text-shadow: 0.10rem  0.10rem  0.10rem #111;
}

.card-btn
{
    width: 70%;
    background: #111;
    color: #888;
    border-radius: 5rem;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    border: none;
    padding: 0.5rem 0;
    cursor: pointer;
    box-shadow: -.1rem -.1rem .1rem #000;

}

/*section-3*/

.section-3
{
    background-color: #333333;
    padding: 5rem 2rem;
   
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10rem;
  }
.galler-link
{
    position: relative;
    margin:0 1rem;
}
.galler-link::before
{
    content: "";
    position: absolute;
    width: .2rem;
    height: 0;
    background-color: white;
    top: 2vw;
    left: 75%;
    transition: height 2s;
    z-index: 1;
}
.galler-link:hover::before
{
    height: 65%;
}
.galler-link:hover .food-name
{
    width: 100%;
    transition: width 2s .1s;
}
.galler-link::after
{
    content: "";
    position: absolute;
    width: 0;
    height: 0.2rem;
    background-color: white;
    top: 25%;
   left: 2rem;
   transition: width 1s;

}
.galler-link:hover::after
{
    width: 75%;
    transition: width 1.5s .5s ;
}

.food-img
{
    width: 24vw;
    height: 15vw;
    object-fit: cover;
    box-shadow: 0.1rem 0.1rem 0.1rem .1rem #e92929,0.2rem 0.2rem 0.1rem .2rem #a2e946,
    0.3rem 0.3rem 0.1rem .3rem #297ce9,0.4rem 0.4rem 0.1rem .4rem #e92999;
    transition: all 0.5 1s;
    
}
.galler-link:hover .food-img
{
    box-shadow: 1rem 1rem 0.1rem .1rem #e92929,2rem 2rem 0.1rem .2rem #a2e946,
    3rem 3rem 0.1rem .3rem #297ce9,4rem 4rem 0.1rem .4rem #e92999;
    filter: blur(.5rem);
    opacity: 0.5;
    transform: scale(1.1);
}
.food-name
{
position: relative;
top: -18rem;
left: 3.5rem;
font-size: 2rem;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.1rem;
color: white;
width: 0;
overflow: hidden;
transition: width .3s;
}
.food-name:hover
{
    width: 5rem;
    
}
.food-descriptions
{
    position: relative;
    bottom: 10vw;
    left: 3.5rem;
    width: 70%;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
}
.galler-link:hover .food-descriptions
{
opacity: 1;
visibility: visible;
transition: opacity 1s 1s;
}


/* section 4 */

.section-4
{
    width: 100%;
    height: 30vh;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
    align-items: flex-start;
position: relative;
}
.section-4-text
{
    text-transform: uppercase;
}
.section-4-heading
{
     font-size: 4rem;
     font-weight: 900;
     color: #a79a2d;
}
.section-4-paragraph
{
    font-size: 1.5rem;
    color: #888;
    
}
.signup-form
{
display: flex;
align-items: center;
}
.signup-form-input
{
    width: 25rem;
    height: 3.5rem;
    padding: 1rem;
    border: .2rem solid #a79a2d;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #a79a2d;
}
.signup-form-input::placeholder
{
    color: #a79a2d;
    font-weight: 400;
}
.signup-form-button
{
    position: relative;
    left: -4.5rem;
    width: 3rem;
    height: 2.5rem;
    background-color: #333;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #a79a2d;

}
.copyright
{
    position: absolute;
 bottom: 3rem;
font-size: 1.5rem;
font-weight: 200;
color: #eee;
letter-spacing: .1rem;
border-top: .1rem solid #888;
padding-top: 3.5rem;
width: 100%;
text-align: center;}


/* section-4 end*/


/*making responsive*/
@media(max-width:1400px)
{
    html{
        font-size: 50%;
    }
    .section-2{
        height: auto;
        padding: 10rem 0 12rem 0;
    }
    .card-container{
        margin: 10rem;
    }
    .galler-link
    {
        width: 40rem;
        height: 25rem;
margin: 5rem ;
    }
    .food-img
    {
        width: 100%;
        height: 100%;
    }
}
@media(max-width:1000px)
{
    .section-4-heading{
        font-size: 9rem;
        margin: 0.5rem;
    }
    .section-1-icons
    {
        font-size: 25rem;
    }
    .card-container
    {
        flex-wrap: wrap;
    }
    .card
    {
        margin: 5rem;
    }
    .section-4{
        height: 30rem;
    }
}
@media(max-width:900px)
{
     .navbar-link{
         margin: 2rem;
     }
     .navbar-link i{
         font-size: 4rem;
     }
.navbar-link span{
    font-size: 2rem;
}
}
@media(max-width:700px)
{
    .section-4-heading
    {
        font-size: 7rem;
       margin-left: -.3rem;
    }
    .section-1-icons
    {
        font-size: 20rem;
    }
    .menu{
        left: 2rem;
    }
    .section-4
    {
    height: 40rem;
    flex-direction: column;
   justify-content: flex-start;
   align-items: center;   
 }
    .section-4-text{
    margin-bottom: 8rem;
}
}
@media(max-width:500px)
{
html{
    font-size: 40%;
}
.navbar-link{
    margin: 0 .7rem;

}
}

/*end responsive*/